version: '3.9'

services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  job-tracker-auth:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      - mongodb
    restart: unless-stopped
    environment:
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      MONGODB_URI: ${MONGODB_URI}

volumes:
  mongo-data:
  